In [8]:
import pandas as pd

df_public_HO = pd.read_csv(r'C:\Users\91735\OneDrive\Desktop\freelance excel\Fiverr\Sachaat\Files\v54.1.p1_HO_public.txt', delimiter='\t',low_memory=False)

df_public_HO.to_csv('v54.1.p1_HO_public.csv', index=False)

In [10]:
df_public_HO.columns

Index(['Genetic ID', 'Master ID', 'Skeletal code', 'Skeletal element',
       'Year data from this individual was first published [for a present-day individuals we give the data of the data reported here; missing GreenScience 2010 (Vi33.15, Vi33.26), Olalde2018 (I2657), RasmussenNature2010 (Australian)]',
       'Publication',
       'Method for Determining Date; unless otherwise specified, calibrations use 95.4% intervals from OxCal v4.4.2 Bronk Ramsey (2009); r5; Atmospheric data from Reimer et al (2020)',
       'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]',
       'Date standard deviation in BP [OxCal sigma for a direct radiocarbon date, and standard deviation of the uniform distribution between the two bounds for a contextual date]',
       'Full Date One of two formats. (Format 1) 95.4% CI calibrated radiocarbon age (Conventional Radiocarbon Age BP, Lab number) e.g. 2624-2350 calBCE (3990Â±40 BP, Ua-35016). (Format 2) Archaeological context range, e.g. 2500-1700 BCE',
       'Age at Death from physical anthropology', 'Group ID', 'Locality',
       'Political Entity', 'Lat.', 'Long.', 'Pulldown Strategy', 'Data source',
       'No. Libraries',
       '1240k coverage (taken from original pulldown where possible)',
       'SNPs hit on autosomal targets (Computed using easystats on 1240k snpset)',
       'SNPs hit on autosomal targets (Computed using easystats on HO snpset)',
       'Molecular Sex', 'Family ID and position within family',
       'Y haplogroup (manual curation in terminal mutation format)',
       'Y haplogroup (manual curation in ISOGG format)',
       'mtDNA coverage (merged data)', 'mtDNA haplogroup if >2x or published',
       'mtDNA match to consensus if >2x (merged data)',
       'Damage rate in first nucleotide on sequences overlapping 1240k targets (merged data)',
       'Sex ratio [Y/(Y+X) counts] (merged data)',
       'Library type (minus=no.damage.correction, half=damage.retained.at.last.position, plus=damage.fully.corrected, ds=double.stranded.library.preparation, ss=single.stranded.library.preparation)',
       'Libraries', 'ASSESSMENT',
       'ASSESSMENT WARNINGS (Xcontam interval is listed if lower bound is >0.005, "QUESTIONABLE" if lower bound is 0.01-0.02, "QUESTIONABLE_CRITICAL" or "FAIL" if lower bound is >0.02) (mtcontam confidence interval is listed if coverage >2 and upper bound is <0.'],
      dtype='object')

In [11]:
df_public_HO_2 = pd.read_csv(r'C:\Users\91735\OneDrive\Desktop\freelance excel\Fiverr\Sachaat\Files\v54.1.p1_HO_public (1).txt', delimiter='\t',low_memory=False)

df_public_HO_2.to_csv('v54.1.p1_HO_public (1).csv', index=False)

In [12]:
df_public_HO_2.head(10)

  rs3094315     1        0.020130          752566 G A
0             rs7419119     1        0.022518    ...
1            rs13302957     1        0.024116    ...
2             rs6696609     1        0.024457    ...
3                rs8997     1        0.025727    ...
4             rs9442372     1        0.026288    ...
5           rs147606383     1        0.026665    ...
6             rs4970405     1        0.026674    ...
7            rs11807848     1        0.026711    ...
8             rs4970421     1        0.028311    ...
9             rs1320571     1        0.028916    ...

In [14]:
import pandas as pd
import re

# Define the path to your text file
file_path = r'C:\Users\91735\OneDrive\Desktop\freelance excel\Fiverr\Sachaat\Files\v54.1.p1_HO_public (1).txt'

# Initialize a list to store the rows
data_rows = []

# Open and read the file line by line
with open(file_path, 'r') as file:
    for line in file:
        # Use regex to split the line where there are 2 or more spaces
        row_data = re.split(r'\s{2,}', line.strip())
        
        # Append the split data as a new row in the data_rows list
        data_rows.append(row_data)

# Create a DataFrame from the processed data
df_public_HO2 = pd.DataFrame(data_rows)

# Display the DataFrame
print(df_public_HO2)

                  0   1         2             3
0         rs3094315   1  0.020130    752566 G A
1         rs7419119   1  0.022518    842013 T G
2        rs13302957   1  0.024116    891021 G A
3         rs6696609   1  0.024457    903426 C T
4            rs8997   1  0.025727    949654 A G
...             ...  ..       ...           ...
597568    rs9786095  24         0  24359931 C T
597569   rs67462087  24         0  24394612 A G
597570    rs7893048  24         0  24444622 T C
597571   rs73628929  24         0  24478403 A G
597572  rs111621212  24         0  24505075 G T

[597573 rows x 4 columns]

In [13]:
df_public_HO2.head(10)
df_public_HO2.to_csv('v54.1.p1_HO_public (2).csv', index=False)

In [15]:
df_public_HO2.head(10)

             0  1         2            3
0    rs3094315  1  0.020130   752566 G A
1    rs7419119  1  0.022518   842013 T G
2   rs13302957  1  0.024116   891021 G A
3    rs6696609  1  0.024457   903426 C T
4       rs8997  1  0.025727   949654 A G
5    rs9442372  1  0.026288  1018704 A G
6  rs147606383  1  0.026665  1045331 G A
7    rs4970405  1  0.026674  1048955 A G
8   rs11807848  1  0.026711  1061166 T C
9    rs4970421  1  0.028311  1108637 G A

In [16]:
df_public_HO2.columns = ['SNP', 'Chromosome','GeneticDistance(cM)','BasePair_Position']
df_public_HO2.head(10)

           SNP Chromosome GeneticDistance(cM) BasePair_Position
0    rs3094315          1            0.020130        752566 G A
1    rs7419119          1            0.022518        842013 T G
2   rs13302957          1            0.024116        891021 G A
3    rs6696609          1            0.024457        903426 C T
4       rs8997          1            0.025727        949654 A G
5    rs9442372          1            0.026288       1018704 A G
6  rs147606383          1            0.026665       1045331 G A
7    rs4970405          1            0.026674       1048955 A G
8   rs11807848          1            0.026711       1061166 T C
9    rs4970421          1            0.028311       1108637 G A

In [17]:
df_public_HO2.to_csv('v54.1.p1_HO_public (2).csv', index=False)

In [28]:
encodings = ['utf-8', 'utf-16']

for encoding in encodings:
    try:
        df_chrY_infofile = pd.read_csv(r'C:\Users\91735\OneDrive\Desktop\freelance excel\Fiverr\Sachaat\Files\chrY_infofile_text.txt', delimiter=';',encoding=encoding)
        print(f"Successfully read the file with {encoding} encoding")
        break
    except Exception as e:
        print(f"Failed with {encoding}: {e}")

Failed with utf-8: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte
Successfully read the file with utf-16 encoding

In [26]:
df_chrY_infofile.to_csv('chrY_infofile.csv', index=False)

In [24]:
df_chrY_infofile.head(10)

,Genetic ID,Political Entity,Locality,Molecular Sex,Master ID,World Zone,Y haplogroup,mt haplogroup\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
0,Ne30_genotyping_noUDG,China,Nepal\t Kathmandu,M,NE30,Asia (E),C,D4m\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
1,Aconcagua_noUDG.SG,Argentina,Cerro Aconcagua\t Mendoza Province,M,Aconcagua,America (S),Q-M3,C1bi \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
2,I1407,Armenia,Areni 1,M,I1407,Europe (E),L1a,H\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
3,XAR001,Botswana,Xaro,M,XAR001,Africa (SC),E1b1a1a1c1a,L3e1a2\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
4,I16444,Channel Islands,Channel Islands\t Guernsey\t Vale\t Le DÃÂ©hus,M,I16444,Europe (W),I2a1a2,J1c1b1\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
5,NE56_noUDG,China,Amur River Basin,M,NE56,Asia (E),C2,G2\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
6,CAO011,Cuba,Matanzas City\t Canimar Abajo,M,CAO011,America (C),Q1b1a1a1,D1\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
7,CAO014,Cuba,Matanzas City\t Canimar Abajo,M,CAO014,America (C),Q1b1a1a1,D1\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
8,CAO017,Cuba,Matanzas City\t Canimar Abajo,M,CAO017,America (C),Q1b1a2,..\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
9,CAO022026,Cuba,Matanzas City\t Canimar Abajo,M,CAO022026,America (C),Q1b1a1a1,C\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t

In [29]:
encodings = ['utf-8', 'utf-16']

for encoding in encodings:
    try:
        df_SNP_filtered = pd.read_csv(r'C:\Users\91735\OneDrive\Desktop\freelance excel\Fiverr\Sachaat\Files\chrY_SNP_filtered.txt', delimiter=';',encoding=encoding,low_memory=False)
        print(f"Successfully read the file with {encoding} encoding")
        break
    except Exception as e:
        print(f"Failed with {encoding}: {e}")

Failed with utf-8: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte
Successfully read the file with utf-16 encoding

In [30]:
df_SNP_filtered.to_csv('chrY_SNP_filtered.csv', index=False)

In [5]:
import numpy as np
from genetics import loadRawGenoFile, unpackfullgenofile, unpackAndFilterSNPs

def process_with_memmap_in_chunks(filename, chunk_size=10000):
    geno_file, nind, nsnp, rlen = loadRawGenoFile(filename)
    geno = np.memmap(filename, dtype='uint8', mode='r', shape=(nsnp, rlen))
    for start in range(0, nsnp, chunk_size):
        end = min(start + chunk_size, nsnp)
        chunk = geno[start:end]
        chunk_unpacked = np.unpackbits(chunk, axis=1)[:, :(2 * nind)]
        # Process or save the chunk as needed
        # Example: Print the shape of the unpacked chunk
        print(f"Processed chunk {start} to {end} with shape {chunk_unpacked.shape}")

# Example usage
process_with_memmap_in_chunks(r'C:\Users\91735\OneDrive\Desktop\freelance excel\Fiverr\Sachaat\Files\v54.1.p1_HO_public.geno')

Processed chunk 0 to 10000 with shape (10000, 41006)
Processed chunk 10000 to 20000 with shape (10000, 41006)
Processed chunk 20000 to 30000 with shape (10000, 41006)
Processed chunk 30000 to 40000 with shape (10000, 41006)
Processed chunk 40000 to 50000 with shape (10000, 41006)
Processed chunk 50000 to 60000 with shape (10000, 41006)
Processed chunk 60000 to 70000 with shape (10000, 41006)
Processed chunk 70000 to 80000 with shape (10000, 41006)
Processed chunk 80000 to 90000 with shape (10000, 41006)
Processed chunk 90000 to 100000 with shape (10000, 41006)
Processed chunk 100000 to 110000 with shape (10000, 41006)
Processed chunk 110000 to 120000 with shape (10000, 41006)
Processed chunk 120000 to 130000 with shape (10000, 41006)
Processed chunk 130000 to 140000 with shape (10000, 41006)
Processed chunk 140000 to 150000 with shape (10000, 41006)
Processed chunk 150000 to 160000 with shape (10000, 41006)
Processed chunk 160000 to 170000 with shape (10000, 41006)
Processed chunk 170000 to 180000 with shape (10000, 41006)
Processed chunk 180000 to 190000 with shape (10000, 41006)
Processed chunk 190000 to 200000 with shape (10000, 41006)
Processed chunk 200000 to 210000 with shape (10000, 41006)
Processed chunk 210000 to 220000 with shape (10000, 41006)
Processed chunk 220000 to 230000 with shape (10000, 41006)
Processed chunk 230000 to 240000 with shape (10000, 41006)
Processed chunk 240000 to 250000 with shape (10000, 41006)
Processed chunk 250000 to 260000 with shape (10000, 41006)
Processed chunk 260000 to 270000 with shape (10000, 41006)
Processed chunk 270000 to 280000 with shape (10000, 41006)
Processed chunk 280000 to 290000 with shape (10000, 41006)
Processed chunk 290000 to 300000 with shape (10000, 41006)
Processed chunk 300000 to 310000 with shape (10000, 41006)
Processed chunk 310000 to 320000 with shape (10000, 41006)
Processed chunk 320000 to 330000 with shape (10000, 41006)
Processed chunk 330000 to 340000 with shape (10000, 41006)
Processed chunk 340000 to 350000 with shape (10000, 41006)
Processed chunk 350000 to 360000 with shape (10000, 41006)
Processed chunk 360000 to 370000 with shape (10000, 41006)
Processed chunk 370000 to 380000 with shape (10000, 41006)
Processed chunk 380000 to 390000 with shape (10000, 41006)
Processed chunk 390000 to 400000 with shape (10000, 41006)
Processed chunk 400000 to 410000 with shape (10000, 41006)
Processed chunk 410000 to 420000 with shape (10000, 41006)
Processed chunk 420000 to 430000 with shape (10000, 41006)
Processed chunk 430000 to 440000 with shape (10000, 41006)
Processed chunk 440000 to 450000 with shape (10000, 41006)
Processed chunk 450000 to 460000 with shape (10000, 41006)
Processed chunk 460000 to 470000 with shape (10000, 41006)
Processed chunk 470000 to 480000 with shape (10000, 41006)
Processed chunk 480000 to 490000 with shape (10000, 41006)
Processed chunk 490000 to 500000 with shape (10000, 41006)
Processed chunk 500000 to 510000 with shape (10000, 41006)
Processed chunk 510000 to 520000 with shape (10000, 41006)
Processed chunk 520000 to 530000 with shape (10000, 41006)
Processed chunk 530000 to 540000 with shape (10000, 41006)
Processed chunk 540000 to 550000 with shape (10000, 41006)
Processed chunk 550000 to 560000 with shape (10000, 41006)
Processed chunk 560000 to 570000 with shape (10000, 41006)
Processed chunk 570000 to 580000 with shape (10000, 41006)
Processed chunk 580000 to 590000 with shape (10000, 41006)
Processed chunk 590000 to 597573 with shape (7573, 41006)